.main{
    display: flex;
    justify-content: space-between;
    
    &__left{
        // background-color: rgb(194, 71, 71);

    }

    &__right{
        margin-left: 2rem;
        padding: 2rem;
        text-align: center;
        transform: translate(10%, 0);
    }
}

.left{
    &--name{
        text-align: center;
    }
}
.right{

    &--input{
        color: rgba(27, 25, 25, 0.945);
        width: 60%;
        border: none;
        padding: 1rem;
        font-size: 2rem;
        background-color: transparent;
        border-bottom: 2px solid rgba(235, 232, 232, 0.822);
        margin-bottom: 2rem;
    }

    &--textArea{
        width: 60vw;
        height: 80rem;
        overflow:hidden;
        background-color:rgba(255, 255, 255, 0.918);
        color:#222;
        font-family:Courier, monospace;
        font-weight:normal;
        font-size:24px;
        resize:none;
        line-height:40px;
        padding-left:100px;
        padding-right:100px;
        padding-top:45px;
        padding-bottom:34px;
        background-image:url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png), url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
        background-repeat:repeat-y, repeat;
        border-radius:12px;
    }
}

// buttons on the side 

.button__toggle, .button__save{
    position: fixed;
    font-size: 1.3rem;
    padding: 1.4rem;
    top: 18%;
    left: -10%;
    color: rgba(12, 0, 0, 0.712);
    background-color: transparent;
    border: 2px solid rgba(15, 15, 15, 0.781);
}

.button__save{
    top: 10%;
}

.buttonEffect{
    z-index: 1;
    width: 80px;
    height: 80px;
    color: #1a1a1a;
    background: #1cedaee0;
    border-radius: 50%;
    border: none;
    transition: box-shadow 400ms cubic-bezier(.2,0,.7,1), transform 200ms cubic-bezier(.2,0,.7,1);
    &:after{
        content: "+";
        font-size: 2.5em;
        line-height: 1.1em;
    }
    &:hover{
        transform: rotate(45deg);
        box-shadow: 0 0 1px 15px rgba(#8A3B58, 0.4),
        0 0 1px 30px rgba(#8A3B58, 0.1),
        0 0 1px 45px rgba(#8A3B58, 0.1);
    }
}