.header{
    background-color: rgba(0, 0, 0, 0.801);
    & a{
        transition: all .3s linear;
        text-decoration: none;
    }
    &__logo{
        font-size: 4rem;
        font-family: 'Satisfy', cursive;
    }

    &__login, &__logout{
        display: block;
        position: fixed;
        font-size: 1.5rem;
        padding: 1.4rem;
        top: 0%;
        right: 0;
        color: rgba(253, 253, 253, 0.712);
        background-color: transparent;
        border: 2px solid rgba(15, 15, 15, 0.781);
        border: transparent;
    }
}