.update{
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    transform: translate(0, 13rem);

    &__input, &__text{
        text-align: center;
        width: 80%;
        font-size: 2rem;
        padding: 1rem;
    }

    &__text{
        height: 30vh;
    }

    &__button{
        padding: 1rem;
        background-color: rgba(3, 3, 3, 0.89);
        color: rgba(255, 255, 255, 0.829);
        font-size: 1.3rem;
    }

}